<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>用户组管理</title>
<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/default/easyui.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Others/icon.css" />
	<link rel="stylesheet" type="text/css" href="__ROOT__/Public/Css/demo.css" />
	<script  src="__ROOT__/Public/Js/jquery-1.11.2.min.js"></script>
	<script  src="__ROOT__/Public/Js/jquery.easyui.min.js"></script>
</head>
<script type="text/javascript">
function destroyUser(){
	var row = $('#dg').datagrid('getSelected');
	if (row){
		$.messager.confirm('Confirm','Are you sure you want to destroy this user?',function(r){
			if (r){
				var uri="__CONTROLLER__/deletegroup";
				$.post(uri,{'id':row.id},function(result){
						$.messager.show({	// show error message
							title: '消息',
							msg: result
						});
						$('#dg').datagrid('reload');	// reload the user da
				});
			}
		});
	}else{
	alert("请勾选按钮")}
}

function add(){
		var row = $('#dg').datagrid('getSelected');
		if (row){
			window.location.href="__CONTROLLER__/updategroup?id="+row.id; 
		}else{
		alert("请勾选按钮")}
		}
		
</script>
</head>
<body>
<!-- 	<table id="userTable"></table>   -->
  	<table id="dg" title="用户组管理" class="easyui-datagrid" style="width:550px;height:250px"
		url="__CONTROLLER__/listgroups" 
		toolbar="#toolbar" rownumbers="true" fitColumns="true" singleSelect="true"  pagination="true"
		    pageList="[5,10,30]" fit="true">
	<thead>
		<tr>
			<th field='ck' checkbox="true"></th>
			<th field='id' title='用户组ID' width="100">用户组ID</th>
			<th field='title' title='用户组名' width="100">用户组名</th>
			<th field='rules'  width="200">规则</th>
			<th field='rulestitle'  width="200">规则名称</th>
			<th field='status'  align='right'>状态</th>
		</tr>
	</thead>
</table>
<div id="toolbar">
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="add()">编辑用户组</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">删除用户组</a>
	<a href="__CONTROLLER__/addgroup"  iconCls="icon-remove" plain="true" > 增加用户组</a>
</div>
<div id="dlg-buttons">
	<a href="#" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveUser()">Save</a>
	<a href="#" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')">Cancel</a>
</div>
</body>
</html>